<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Montreal</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="description" content="A website that puts the USD → CAD exchange rate front-and-center.">
</head>

<body>

  <div class="content">
    <h1>1 USD → {{ rate }} CAD</h1>
  </div>

</body>

</html>
